*{font-family: 'Anton', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Gaegu', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Nobile', sans-serif;
  font-family: 'Pangolin', cursive;
  font-family: 'Playfair', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Sunflower', sans-serif;
  margin: 0;
  padding: 0;
  }
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.visually-hidden{
  display: none;
}
/*부트스트랩에서 권장하는 그리드 시스템
sm(Small의약자),md(Medium)768px이상은 미디엄 lg(large) 데스크탑버젼순*/
.sm-only{
  display: none;

}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
}
.logo img{
  width: 70px;
}  
.gnb-list{
  display: flex;
justify-content: space-between;
width: 300px;

}
.gnb-itme a{
font-size: 18px;
font-weight: 700;
transition: color 300ms ease-in-out;
}
.gnb-item a:hover{
  color: darkgray;

}
.lnb-wrapper{
  position: sticky;
  top:0;
  z-index: 10;
  
}
.lnb-list{
  display: flex;
  padding: 20px 0;
  background-color: rgb(235, 27, 27);
 border-top:3px solid rgba(209, 179, 5, 0.753)
 ;
}

.lnb-item:first-child{
  margin-left: 20px;
}

.lnb-item a{
  color: #fff;
  padding: 0 20px;
}
.background{
  height: 600px;
  background-image: url(../imges/back.jpeg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}
.food-box-list{
display: flex;
margin-top: 20px;

}
.food-box-item{

width: 300px;
margin-right: 30px;
border-radius: 20px;
box-shadow: 3px 3px  rgb(180, 180, 180);



}
.food-box-item img{
width: 300px;
border-radius: 10px;

}
.food-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 80px auto 0 auto ;
 margin: 80px auto 0 auto;


}
.food-box-item:last-child{
  margin-right: 0;
}
.food-box-item a:hover{
  opacity: 7;
}m a{
.food-box-ite
  transition: opacity 300ms ease-in-out;
}
.food-box-txt{
  width: 90%;
  margin: 30px auto;
  align-items: center;
  font-weight: 700;
}
.mac-story-box{
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin-top: 30px;
  padding: 20px 10px;
  text-align: center;
  background-color: #fff;
  border-top: 2px solid rgb(255, 213, 23);

}
.mac-story-list{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
  padding: 15px 0;
}
.mac-story-item img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  
}

footer{
background-color: rgb(235, 27, 27);
padding: 20px 0;
}
.global-footer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fafafa;
}
.global-footer a {
  color: #fafafa;
}

.mac-link-list{


margin-right: 40px;
}
/*flex-grow:flex-grow가 적용되지 않았을경우 
레이아웃보다 정렬된 아이템들의 width 합이 작으면
오른쪽에 여백이 남는다. 그 여백을 지정한 비율대로 
차지하게 할 수 있는 속성이다.*/
.mac-info-list{
  
}
.mac-info-list li{
  padding: 5px 0;
}

.mac-link-item a{
  color: #fff;
  padding: 5px 0;
 display: inline-block;
}
/*inline tag에 magin,padding 적용되지 않을때 display속성에서 inline,inline-block으로 잡으면 됨*/
.mac-link-item a:hover {
  color: yellow;
}

.mac-icon-list{
  display: flex;
 align-items: center;

 
 
  
}

.mac-icon-list li{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
 transition: color rgb(235,27,27)  500ms ease;
}
.mac-icon-list li:last-child{
  margin: 0;
}
.mac-icon-list i{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: rgb(235, 27, 27);
}
 .mac-icon-list li a:hover{
  background-color: rgb(235, 27, 27);

 }
 .mac-icon-list li i:hover{
  color: #fff;
  transition: color 300ms ease-in;
 }
  


@media screen  and (max-width:1200px){
  /*.mac-link-item:first-child a {
    color: yellow;}
    .mac-link-item a{
      padding: 5px 0;
    }*/
    nav{
    padding: 5px 0;
     
    } 
    .logo{
      width: 65px;
    }
    .gnb-list{
      width: 250px;
    }
    .background{
      height: 500px;
    }
    @media screen and (max-width:1028px)  {
      
    }
      .food-box-item{
      
      width: 33%;
  
      overflow: hidden;
      
      
      
      }
      .food-box-item img{
      width: 100%;
      height: 150px;
      
      
      }
      .food-box{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 80px auto 0 auto ;
       margin: 80px auto 0 auto;
      
      
      }
  
      .food-box-txt{
      
        margin: 20px auto;
  
      
      }
      .mac-story-box{
       
        bottom: 0;
        z-index: 10;
        margin-top: 50px;
        padding: 20px 10px;
        text-align: center;
        background-color: #fff;
        border-top: 2px solid rgb(255, 213, 23);
      
      }
      .mac-story-list{
        
        width: 40%;
      
        padding: 15px 0;
      }
      .mac-story-item img{
        width: 80px;
        height: 80px;
      
        
      }
      
      footer{
      background-color: rgb(235, 27, 27);
      padding: 20px 0;
      }
      

  }

  @media screen and (max-width:768px){

    .sm-only{
      display: block;
    
    }
    .sm-hidden{
      display: none;
    }
    .logo img{
      width: 55px;
    }  
    .gnb-icon-btn i{
      font-size: 24px;
    }
    .background{
      height: 300px;
    }
    .food-box-list{
      flex-direction: column;
      margin-top: 0;}

      .food-box-item:first-child{
        margin-top: 0;
      }
      .food-box-item{
        width: 90%;
        margin-right: 30px;
       margin: 20px auto 0 auto;
       
      }
     
        .food-box{
         width: 50%;
         
         margin-top: 30px;
        
        
        }
        .food-box-item:last-child{
          margin-right: auto;
          margin-top: 0;
          margin: 20px 0px 0,auto;
          
        }
        .food-box-item a:hover{
          opacity: 7;
        
        .food-box-item img{
          transition: opacity 300ms ease-in-out;
          object-fit: cover;
        }
        .food-box-txt{
          width: 90%;
          margin: 20px auto;
          align-items: center;
          font-weight: 700;
        }  
        .mac-story-box{
         
          margin-top: 50px;
          padding: 20px 10px;
          
        }
        .mac-story-list{
          height: 50px;
          width: 50px;
          
        }
        .mac-story-item img{
          width: 50px;
          height: 50px;
         
        }
        

        
        
          
      .global-footer{
        
      }
     .mac-info-list{
      text-align: right;
     }
     .mac-icon-list{
      width: 100%;
      display: flex;
      justify-content: center;

     }
    .sidebar nav{
     position: fixed; 
     top: 0;
     left: 0;
     z-index: 200;
     width: 200px;
     height: 100vh;
     background-color: #fff;
     transform: translateX(-200px);
     padding: 32px 20px;
    }
    .side-menu-itme a{
      padding: 10px;
      display: block;
      color: #000;
    }
    .overlay{
      position: fixed;
      top: 0;
      left: 0;
     /* bottom: 0;
      right: 0;*/
      z-index: 100;
      width: 100%;
      height: 100%;
      background-color: #333;}
      visibility: hidden;
      /*display:none,transition이 먹히지 않는다.
      그래서 uI animation효과를 주고 싶다면 vsiibility*/
  /*top,left,bottom,right 좌표를 다 0으로 줄 경우
  네 꼭지점에서 서로 잡아당기기 때문에 */
    
  }
  
  }
    
    
 