*{font-family: 'Anton', sans-serif;
  font-family: 'Bangers', cursive;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Gaegu', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Nobile', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Pangolin', cursive;
  font-family: 'Playfair', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Sunflower', sans-serif;
  }

  